RESTIC_REPOSITORY=s3:https://{{ lookup('ansible.builtin.env', 'R2_ACCOUNT_ID') }}.r2.cloudflarestorage.com/{{ lookup('ansible.builtin.env', 'R2_BACKUP_BUCKET') }}/opnform
RESTIC_PASSWORD={{ lookup('ansible.builtin.env', 'RESTIC_PASSWORD') }}
AWS_ACCESS_KEY_ID={{ lookup('ansible.builtin.env', 'R2_BACKUP_ACCESS_KEY_ID') }}
AWS_SECRET_ACCESS_KEY={{ lookup('ansible.builtin.env', 'R2_BACKUP_SECRET_ACCESS_KEY') }}
AWS_DEFAULT_REGION=auto
OPNFORM_PROJECT_DIR={{ opnform_project_dir }}
OPNFORM_PROJECT_NAME={{ opnform_project_name }}
OPNFORM_COMPOSE_FILE={{ opnform_compose_file }}
OPNFORM_BACKUP_DIR={{ opnform_backup_dir }}
DB_DATABASE={{ lookup('ansible.builtin.env', 'DB_DATABASE') }}
DB_USERNAME={{ lookup('ansible.builtin.env', 'DB_USERNAME') }}
BACKUP_KEEP_DAILY={{ opnform_backup_keep_daily }}
BACKUP_KEEP_WEEKLY={{ opnform_backup_keep_weekly }}
BACKUP_KEEP_MONTHLY={{ opnform_backup_keep_monthly }}
